tmp*
log*
goff/parse-equations-master/integrability_w4_eqs_expand.txt
goff/parse-equations-master/integrability_w4_eqs.txt
goff/parse-equations-master/integrability_w4_eqs_expand_parsed.txt
goff/go-finite-field/integrability_w4_sol.txt.m
goff/go-finite-field/integrability_w4_sol.txt
tmp_ansatz_deriv_v2/v.m
tmp_ansatz_deriv_v1_20250416_0616/diffdicv.m
tmp_ansatz_deriv_v1_20250416_0616/v.m
tmp_sumsym_ckpt/ckpt_2049.m
tmp_sumsym_ckpt/ckpt_1025.m
tmp_sumsym_ckpt/ckpt_12289.m
tmp_sumsym_ckpt/ckpt_5121.m
tmp_sumsym_ckpt/ckpt_10241.m
tmp_sumsym_ckpt/ckpt_6657.m
tmp_sumsym_ckpt/ckpt_9729.m
tmp_sumsym_ckpt/ckpt_9217.m
tmp_sumsym_ckpt/ckpt_2561.m
tmp_sumsym_ckpt/ckpt_8193.m
tmp_sumsym_ckpt/ckpt_3073.m
tmp_sumsym_ckpt/ckpt_4097.m
tmp_sumsym_ckpt/ckpt_6145.m
tmp_sumsym_ckpt/ckpt_7681.m
tmp_sumsym_ckpt/ckpt_8705.m
tmp_sumsym_ckpt/ckpt_4609.m
tmp_sumsym_ckpt/ckpt_1537.m
tmp_sumsym_ckpt/ckpt_513.m
tmp_sumsym_ckpt/ckpt_7169.m
tmp_sumsym_ckpt/ckpt_5633.m
tmp_sumsym_ckpt/ckpt_3585.m
goff/parse-equations-master/integrability_w4_eqs_expand_parsed_output.txt
goff/parse-equations-master/integrability_w4_eqs_expand.txt
goff/parse-equations-master/integrability_w4_eqs.txt
goff/parse-equations-master/integrability_w4_eqs_expand_parsed.txt
goff/go-finite-field/integrability_w4_eqs_expand_parsed_output.txt
goff/go-finite-field/integrability_w4_sol.txt.m
goff/go-finite-field/integrability_w4_sol.txt
tmp_ansatz_deriv_v2_20250416_0616/v.m
tmp_integrability_w4_eqs.m
R43ansatz.m
tmp_ansatz_deriv_v1/diffdicv.m
tmp_ansatz_deriv_v1/v.m
tmp_ansatz_deriv_v2/v.m
tmp_ansatz_deriv_v1_20250416_0616/diffdicv.m
tmp_ansatz_deriv_v1_20250416_0616/v.m
tmp_sumsym_ckpt/ckpt_2049.m
tmp_sumsym_ckpt/ckpt_1025.m
tmp_sumsym_ckpt/ckpt_12289.m
tmp_sumsym_ckpt/ckpt_5121.m
tmp_sumsym_ckpt/ckpt_10241.m
tmp_sumsym_ckpt/ckpt_6657.m
tmp_sumsym_ckpt/ckpt_9729.m
tmp_sumsym_ckpt/ckpt_9217.m
tmp_sumsym_ckpt/ckpt_2561.m
tmp_sumsym_ckpt/ckpt_8193.m
tmp_sumsym_ckpt/ckpt_3073.m
tmp_sumsym_ckpt/ckpt_4097.m
tmp_sumsym_ckpt/ckpt_6145.m
tmp_sumsym_ckpt/ckpt_7681.m
tmp_sumsym_ckpt/ckpt_8705.m
tmp_sumsym_ckpt/ckpt_4609.m
tmp_sumsym_ckpt/ckpt_1537.m
tmp_sumsym_ckpt/ckpt_513.m
tmp_sumsym_ckpt/ckpt_7169.m
tmp_sumsym_ckpt/ckpt_5633.m
tmp_sumsym_ckpt/ckpt_3585.m
goff/parse-equations-master/integrability_w4_eqs_expand_parsed_output.txt
goff/parse-equations-master/integrability_w4_eqs_expand.txt
goff/parse-equations-master/integrability_w4_eqs.txt
goff/parse-equations-master/integrability_w4_eqs_expand_parsed.txt
goff/go-finite-field/integrability_w4_eqs_expand_parsed_output.txt
goff/go-finite-field/integrability_w4_sol.txt.m
goff/go-finite-field/integrability_w4_sol.txt
tmp_ansatz_deriv_v2_20250416_0616/v.m
tmp_integrability_w4_eqs.m
tmp_ansatz_deriv_v1/diffdicv.m
tmp_ansatz_deriv_v1/v.m
